/*
- *Typefaces:* `Georgia`, `Denk One`
- *Line-heights:* `1.5`
- *Colours:* `#fff`, `#f5f2f0`, `#ede3db`, `#623b0c`, `#000`
- *Margins:* `1.5rem`
- *Paddings:* `.5em .75em .6em`, `1rem`
- *Gaps:* `1rem`
- *Border-thicknesses*: `2px`
- *Corner-radii:* `8px`
*/

html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}


h1 {
  font-family: 'Denk One';
  color: #623b0c;
}

h2 {
  font-family: 'Denk One';
  color: #623b0c;
}

ol{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

li {
  border:2px solid #623b0c;
  border-radius: 8px;
  background-color: #ede3db;
  padding: 1rem;
  list-style: none;
}

p {
  font-family: Georgia;
  font-size: 1.125rem;
}
